{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block content %}
    <h1>Show categories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('show_cat_videos', {'categoryId': category.id}) }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
