{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block content %}
    <h1>{{ video.title }}</h1>
    <div class="grid">
        <div class="grid_item">
            <iframe width="560" height="315" src="https://youtube.com/embed/{{ video.youtubeId }}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media"></iframe>
        </div>
    </div>
{% endblock %}
