{% extends 'base.html.twig' %}

{% block title %}Добавленные видео{% endblock %}

{% block content %}
    <h1>Добавленные видео</h1>
    <div class="grid">
        {% for video in videos %}
            <div class="grid_item">
                <h4><a href="{{ path('show_video', {'youtubeId': video.youtubeId}) }}">{{ video.title }}</a></h4>
                {#<div>{{ video.category_id.title }}</div>#}
                <iframe width="350" height="197" src="https://youtube.com/embed/{{ video.youtubeId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media"></iframe>
            </div>
        {% endfor %}
    </div>
{% endblock %}
